{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": ["airbnb-typescript/base"],
  "env": {
    "node": true
  },
  "rules": {
    "import/order": [
      "warn",
      {
        "groups": ["builtin", "external", "internal", "sibling", "parent"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "import/prefer-default-export": "off",
    "max-len": "off",
    "no-console": "off"
  }
}
